@import "tailwindcss";

@theme {
  --color-pri-bg: #161717;
  /* --color-sec-bg: #1d1f1f; */
  --color-pri-text: #FAFAFA;
  --color-sec-text: rgba(255, 255, 255, .6);
  /* --color-sec-text: #999999; */
  --color-sidebar-bg: #262524;
  --color-icon-hover-bg: #282929;
  --color-chat-hover-bg: #2d2e2e;
  --color-btn-green: #21C063;
  --color-notification-bg: #21bf63;
  --color-notification2-bg: #262524;
  --color-filter-cap-bg: #262524;
  --color-border-col: rgba(255, 255, 255, .1);
}

@layer components {
  .main-box {
    @apply min-w-[350px] md:w-[30%] h-[100%] border border-border-col bg-pri-bg
  }
  .side-box {
    @apply min-w-[500px] min-h-full md:flex-1 h-[100%] overflow-hidden border border-border-col bg-pri-bg 
  }
}